@charset "UTF-8";

@import "_reset.scss";
@import "_base.scss";
@import "_markdown.scss";

/* ------------------------------

  目次📕

  // ** header
  // ** main
  // ** footer

------------------------------ */

// ** header
header {
  margin-bottom: 40px;
  background: $on_background;
}

// ** main
main {
  article {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

// ** footer
footer {
}
