@charset "UTF-8";

@import "_reset.scss";
@import "_base.scss";
@import "_markdown.scss";

/* ------------------------------

  目次📕

  // ** header
  // ** main
  // ** footer

------------------------------ */

// ** header
header {
  margin-bottom: 80px;
  background: $on_background;
  nav {
    ul {
      display: flex;
    }
    li {
      list-style-type: none;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}

// ** main
main {
  article {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

// ** footer
footer {
  margin-top: 80px;
  padding: 24px 0;
  width: 100%;
  background: rgba($color: $on_background, $alpha: 0.2);
  color: $sub-txt;
  font-size: 1.4rem;
}

.excerpt {
  color: $sub-txt;
}
